service: home

image: schrockwell/home

servers:
  web:
    - kamal.schrockwell.com

proxy:
  ssl: true
  hosts:
    - schrockwell.com
    - www.schrockwell.com
  app_port: 3000

registry:
  server: localhost:5555

# Build remotely, on the correct architecture
builder:
  arch: amd64
  remote: ssh://root@kamal.schrockwell.com